
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #242424;
    color: white;
}

.navbar {
    background-color: #5708d7; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    width: 100%;
    position: relative; 
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    background-color: #5708d7;  
}

.navbar-logo img {
    width: 50px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0.8;
}

.search {
    position: absolute;
    left: 45%;
    display: flex;
    align-items: center;
    background-color: #4a0bb3; 
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.search input {
    border: none;
    padding: 5px;
    width: 180px;
    background-color: transparent;
    color: white;
}

.search input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.hero {
    text-align: center;
    padding: 20px 30px;
    max-width: 800px;
    margin: 0 auto;
    
}
.hero h1 {
    font-size: 45px;
    margin: 20px 0;
}

.hero p {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 20px;
}
.hero-content img{
    width: 30%;
    margin-top: 20px;
    
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-icons {
    border: 10px solid #5708d7;
}

.install-btn {
    background-color: #4d4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.docs-btn {
    background-color: #730ce7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.version {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.version a {
    color: #7a7a7a;
    text-decoration: none;
}

.get-started {
    text-align: center;
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.get-started h2 {
    font-size: 24px;
}

.get-started a{
    color: #69d3f6;
}

